<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of {{category}}</title>
    <link rel="stylesheet" href="../static/css/category_search_page.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>{{category}}</h1>
            <nav>
                <ul>
                    <a href="./starships"  class="button starships-button" >Starships</a>
                    <a href="./species"    class="button species-button"   >Species</a>
                    <a href="./planets"    class="button planets-button"   >Planets</a>
                    <a href="./vehicles"   class="button vehicles-button"  >Vehicles</a>
                    <a href="./characters" class="button characters-button">Characters</a>
                </ul>
            </nav>
        </div>
        <a href="/" class="button home-button">Home</a>
    </header>

    <main>
        <div class="container">
            <input type="text" id="search" placeholder="Search...">
	        
            <br>
            <br>

            <select onchange="filterCriteriaSelected();" name="Criteria" id="criteria_filter_selector">
                <option selected disabled value> -- Select a Criteria for Filtering or Sorting -- </option>
                <!-- Filter and Sort Options will be dynamically filled -->
            </select>

            <br>

            <!-- Options for Sorting Direction -->
            <div id="sorting_direction" style="display: none;">
                <input type="radio" id="sort_asc" name="sort_direction" value="asc" checked>
                <label for="sort_asc">Ascending</label>
                <input type="radio" id="sort_desc" name="sort_direction" value="desc">
                <label for="sort_desc">Descending</label>
            </div>

            <br>

            <button type="button" onclick="applyFiltersAndSort();">Apply Filters and Sort</button>

            <br>
            <br>

            <button type="button" onclick="location.reload();">Clear All</button>

            <br>
            <br>

            <ul id="search-list">
                <!-- List of elements will be dynamically filled here -->
            </ul>
        </div>
    </main>

    <script>
        // Passes vars from Python to JS
        var criteriaOptions = "{{ data.criteriaOptions }}";
        var criteriaOptions_dataTypes = "{{ data.criteriaOptions_dataTypes }}";
        var category = "{{category}}";
    </script>
    <script src="../static/js/category_search_page.js"></script>
</body>
</html>
