<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starships</title>
    <link rel="stylesheet" href="../static/starships_home.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>Starships</h1>
            <nav>
                <ul>
                    <li><a href="/species">Species</a></li>
                </ul>
            </nav>
            <a href="#" class="home-button">Home</a>
        </div>
    </header>
    <main>
        <div class="container">
            <input type="text" id="search" placeholder="Search ships...">
            <input type="number" id="min-cargo-capacity" placeholder="Min Cargo Capacity" min="0">
            <input type="number" id="max-cargo-capacity" placeholder="Max Cargo Capacity" min="0">
            <button id="filter-btn">Filter</button>
            <ul id="starships-list">
                <!-- Static starships list -->
                <li data-starships="Sentinel-class landing craft">Sentinel-class landing craft</li>
                <li data-starships="Death Star">Death Star</li>
                <li data-starships="Millennium Falcon">Millennium Falcon</li>
                <li data-starships="Y-wing">Y-wing</li>
                <li data-starships="X-wing">X-wing</li>
                <li data-starships="TIE Advanced x1">TIE Advanced x1</li>
                <li data-starships="Slave 1">Slave 1</li>
                <li data-starships="Imperial shuttle">Imperial shuttle</li>
                <li data-starships="EF76 Nebulon-B escort frigate">EF76 Nebulon-B escort frigate</li>
                <li data-starships="Calamari Cruiser">Calamari Cruiser</li>
                <li data-starships="A-wing">A-wing</li>
                <li data-starships="B-wing">B-wing</li>
                <li data-starships="Republic Cruiser">Republic Cruiser</li>
                <li data-starships="Naboo fighter">Naboo fighter</li>
                <li data-starships="Naboo Royal Starship">Naboo Royal Starship</li>
                <li data-starships="Scimitar">Scimitar</li>
                <li data-starships="J-type diplomatic barge">J-type diplomatic barge</li>
                <li data-starships="AA-9 Coruscant freighter">AA-9 Coruscant freighter</li>
                <li data-starships="Jedi starfighter">Jedi starfighter</li>
                <li data-starships="H-type Nubian yacht">H-type Nubian yacht</li>
                <li data-starships="Star Destroyer">Star Destroyer</li>
                <li data-starships="Trade Federation cruiser">Trade Federation cruiser</li>
                <li data-starships="Theta-class T-2c shuttle">Theta-class T-2c shuttle</li>
                <li data-starships="T-70 X-wing fighter">T-70 X-wing fighter</li>
                <li data-starships="Rebel transport">Rebel transport</li>
                <li data-starships="Droid control ship">Droid control ship</li>
                <li data-starships="Republic Assault ship">Republic Assault ship</li>
                <li data-starships="Solar Sailer">Solar Sailer</li>
                <li data-starships="Republic attack cruiser">Republic attack cruiser</li>
                <li data-starships="Naboo star skiff">Naboo star skiff</li>
                <li data-starships="Jedi Interceptor">Jedi Interceptor</li>
                <li data-starships="arc-170">arc-170</li>
                <li data-starships="Belbullab-22 starfighter">Belbullab-22 starfighter</li>
                <li data-starships="V-wing">V-wing</li>
                <li data-starships="CR90 corvette">CR90 corvette</li>
                <li data-starships="Banking clan frigate">Banking clan frigate</li>
                <!-- End of static species list -->
            </ul>
        </div>
    </main>
    <script src="../static/starships_home.js"></script>
</body>
</html>
