<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Drawing App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <canvas id="drawingCanvas" width="500" height="500"></canvas>
    <button id="clearBtn">Clear</button>
    <button id="exampleBtn">Example</button>
    <img id="exampleImg" src="" style="display:none; max-width:100%; margin-top:10px;">

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
